<head>
    <title>CMC Ciber</title>
    <meta name="viewport" content="width=device-width" initial-scale="1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="css/animate.css" />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/font-awesome.css" />
    <link rel="stylesheet" href="css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="css/swiper.min.css" />
    <link rel="stylesheet" href="css/home.css" />
</head>

<body>
    <header>
        <div class="container-fluid">
            <div class="row align-items-center menu">
                <div class="col-12 col-lg-3 col-xl-2 box-search">
                    <button type="button" class="btn btn-search">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="col-12 col-lg-3 col-xl-8 box-search">
                    <a href="" class="over logo active-link">
                        <img class="img-fluid" alt="" src="images/icon.png">
                    </a>
                </div>
                <div class="col-12 col-lg-3 col-xl-2 box-search">
                    <a href="">
                        <img class="img-fluid" alt="" src="images/app-store.png">
                    </a>
                    <a href="">
                        <img class="img-fluid" alt="" src="images/gg-play.png">
                    </a>
                </div>
            </div>
        </div>
    </header>
    <section class="detail-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-3 col-xl-2 px-0 col-left-sidebar">
                    <div class="left-sidebar">
                        <ul>
                            <li>
                                <a href=""><span class="category-name">XXXXXXX</span></a>
                            </li>
                            <li>
                                <a href=""><span class="category-name">XXXXXXX</span></a>
                            </li>
                            <li>
                                <a href=""><span class="category-name">XXXXXXX</span></a>
                            </li>
                            <li>
                                <a href=""><span class="category-name">XXXXXXX</span></a>
                            </li>
                            <li>
                                <a href=""><span class="category-name">XXXXXXX</span></a>
                            </li>
                            <li>
                                <a href=""><span class="category-name">XXXXXXX</span></a>
                            </li>
                            <li>
                                <a href=""><span class="category-name">XXXXXXX</span></a>
                            </li>
                            <li>
                                <a href=""><span class="category-name">XXXXXXX</span></a>
                            </li>
                            <li>
                                <a href=""><span class="category-name">XXXXXXX</span></a>
                            </li>
                            <li>
                                <a href=""><span class="category-name">XXXXXXX</span></a>
                            </li>
                            <li>
                                <a href=""><span class="category-name">XXXXXXX</span></a>
                            </li>
                            <li>
                                <a href=""><span class="category-name">XXXXXXX</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-lg-9 col-xl-10 col-main-body px-0">
                    <div class="main-body">
                        <h3 class="title-body">XXXXXX</h3>
                        <div class="slide-show">
                            <div class="row">
                                <div class="swiper mySwiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="row">
                                                <div class="col-12 col-md-8">
                                                    <div class="article-item-slide position-relative">
                                                        <img src="./images/detail.png" alt="" class="img-fluid">
                                                        <p class="title-text">XXXXXXXXXXXXXXXXXXXX</p>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <div class="article-item-slide position-relative mb-3">
                                                        <img src="./images/detail.png" alt="" class="img-fluid">
                                                        <p class="title-text">XXXXXXXXXXXXXXXXXXXX</p>
                                                    </div>
                                                    <div class="article-item-slide position-relative">
                                                        <img src="./images/detail.png" alt="" class="img-fluid">
                                                        <p class="title-text">XXXXXXXXXXXXXXXXXXXX</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="row">
                                                <div class="col-12 col-md-8">
                                                    <div class="article-item-slide position-relative">
                                                        <img src="./images/detail.png" alt="" class="img-fluid">
                                                        <p class="title-text">XXXXXXXXXXXXXXXXXXXX</p>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <div class="article-item-slide position-relative mb-3">
                                                        <img src="./images/detail.png" alt="" class="img-fluid">
                                                        <p class="title-text">XXXXXXXXXXXXXXXXXXXX</p>
                                                    </div>
                                                    <div class="article-item-slide position-relative">
                                                        <img src="./images/detail.png" alt="" class="img-fluid">
                                                        <p class="title-text">XXXXXXXXXXXXXXXXXXXX</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-pagination pagination-click"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-8 col-xl-9">
                                <h3 class="title-body">XXXXXX</h3>
                                <div class="article-related-list">
                                    <div class="row">
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 item mb-5">
                                            <a href="#" class="card inner-item">
                                                <div class="item-image-list">
                                                    <img src="images/detail.png" alt="" class="img-fluid img">
                                                </div>
                                                <div class="card-body item-detail">
                                                    <h3 class="card-title item-title max-ln-3">XXXXXXXXXX</h3>
                                                    <p class="card-text item-text max-ln-3">XXXXXXXXXXXXX</p>
                                                </div>
                                                <div class="info-footer d-flex">
                                                    <p class="text-left">
                                                        <span><img src="images/text.png" alt="" class="img-fluid"></span>XXXXXXXXXXX
                                                    </p>
                                                    <p class="text-right">XXXXXXXXXX</p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 item mb-5">
                                            <a href="#" class="card inner-item">
                                                <div class="item-image-list">
                                                    <img src="images/detail.png" alt="" class="img-fluid img">
                                                </div>
                                                <div class="card-body item-detail">
                                                    <h3 class="card-title item-title max-ln-3">XXXXXXXXXX</h3>
                                                    <p class="card-text item-text max-ln-3">XXXXXXXXXXXXX</p>
                                                </div>
                                                <div class="info-footer d-flex">
                                                    <p class="text-left">
                                                        <span><img src="images/text.png" alt="" class="img-fluid"></span>XXXXXXXXXXX
                                                    </p>
                                                    <p class="text-right">XXXXXXXXXX</p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 item mb-5">
                                            <a href="#" class="card inner-item">
                                                <div class="item-image-list">
                                                    <img src="images/detail.png" alt="" class="img-fluid img">
                                                </div>
                                                <div class="card-body item-detail">
                                                    <h3 class="card-title item-title max-ln-3">XXXXXXXXXX</h3>
                                                    <p class="card-text item-text max-ln-3">XXXXXXXXXXXXX</p>
                                                </div>
                                                <div class="info-footer d-flex">
                                                    <p class="text-left">
                                                        <span><img src="images/text.png" alt="" class="img-fluid"></span>XXXXXXXXXXX
                                                    </p>
                                                    <p class="text-right">XXXXXXXXXX</p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 item mb-5">
                                            <a href="#" class="card inner-item">
                                                <div class="item-image-list">
                                                    <img src="images/detail.png" alt="" class="img-fluid img">
                                                </div>
                                                <div class="card-body item-detail">
                                                    <h3 class="card-title item-title max-ln-3">XXXXXXXXXX</h3>
                                                    <p class="card-text item-text max-ln-3">XXXXXXXXXXXXX</p>
                                                </div>
                                                <div class="info-footer d-flex">
                                                    <p class="text-left">
                                                        <span><img src="images/text.png" alt="" class="img-fluid"></span>XXXXXXXXXXX
                                                    </p>
                                                    <p class="text-right">XXXXXXXXXX</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="title-category d-flex align-items-center">
                                    <h3 class="title-body">XXXXXX</h3>
                                    <div class="col-btn d-flex align-items-center position-relative">
                                        <a class=" btn-view-all " href="# ">View all</a>
                                        <i class="fa fa-arrow-circle-o-right " aria-hidden="true "></i>
                                    </div>
                                </div>
                                <div class="article-related-list ">
                                    <div class="row ">
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 item mb-5 ">
                                            <a href="# " class="card inner-item ">
                                                <div class="item-image-list ">
                                                    <img src="images/detail.png " alt=" " class="img-fluid img ">
                                                </div>
                                                <div class="card-body item-detail ">
                                                    <h3 class="card-title item-title max-ln-3 ">XXXXXXXXXX</h3>
                                                    <p class="card-text item-text max-ln-3 ">XXXXXXXXXXXXX</p>
                                                </div>
                                                <div class="info-footer d-flex ">
                                                    <p class="text-left ">
                                                        <span><img src="images/text.png " alt=" " class="img-fluid "></span>XXXXXXXXXXX
                                                    </p>
                                                    <p class="text-right ">XXXXXXXXXX</p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 item mb-5 ">
                                            <a href="# " class="card inner-item ">
                                                <div class="item-image-list ">
                                                    <img src="images/detail.png " alt=" " class="img-fluid img ">
                                                </div>
                                                <div class="card-body item-detail ">
                                                    <h3 class="card-title item-title max-ln-3 ">XXXXXXXXXX</h3>
                                                    <p class="card-text item-text max-ln-3 ">XXXXXXXXXXXXX</p>
                                                </div>
                                                <div class="info-footer d-flex ">
                                                    <p class="text-left ">
                                                        <span><img src="images/text.png " alt=" " class="img-fluid "></span>XXXXXXXXXXX
                                                    </p>
                                                    <p class="text-right ">XXXXXXXXXX</p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 item mb-5 ">
                                            <a href="# " class="card inner-item ">
                                                <div class="item-image-list ">
                                                    <img src="images/detail.png " alt=" " class="img-fluid img ">
                                                </div>
                                                <div class="card-body item-detail ">
                                                    <h3 class="card-title item-title max-ln-3 ">XXXXXXXXXX</h3>
                                                    <p class="card-text item-text max-ln-3 ">XXXXXXXXXXXXX</p>
                                                </div>
                                                <div class="info-footer d-flex ">
                                                    <p class="text-left ">
                                                        <span><img src="images/text.png " alt=" " class="img-fluid "></span>XXXXXXXXXXX
                                                    </p>
                                                    <p class="text-right ">XXXXXXXXXX</p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 item mb-5 ">
                                            <a href="# " class="card inner-item ">
                                                <div class="item-image-list ">
                                                    <img src="images/detail.png " alt=" " class="img-fluid img ">
                                                </div>
                                                <div class="card-body item-detail ">
                                                    <h3 class="card-title item-title max-ln-3 ">XXXXXXXXXX</h3>
                                                    <p class="card-text item-text max-ln-3 ">XXXXXXXXXXXXX</p>
                                                </div>
                                                <div class="info-footer d-flex ">
                                                    <p class="text-left ">
                                                        <span><img src="images/text.png " alt=" " class="img-fluid "></span>XXXXXXXXXXX
                                                    </p>
                                                    <p class="text-right ">XXXXXXXXXX</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4 col-xl-3 col-right-sidebar ">
                                <h3 class="title-body ">XXXXXX</h3>
                                <div class="card-body card ">
                                    <ul>
                                        <li>
                                            <a href="# " class="inner-item ">
                                                <img src="images/putin.jpg " class="img-fluid " alt=" ">
                                                <span class="item-viewed "><i class="fa fa-eye " aria-hidden="true "></i>116</span>
                                                <div class="card-overlay card-img-overlay ">
                                                    <h4 class=" title-sidebar ">XXXXXXXXXX</h4>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="# " class="inner-item ">
                                                <img src="images/putin.jpg " class="img-fluid " alt=" ">
                                                <span class="item-viewed "><i class="fa fa-eye " aria-hidden="true "></i>116</span>
                                                <div class="card-overlay card-img-overlay ">
                                                    <h4 class=" title-sidebar ">XXXXXXXXXX</h4>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="# " class="inner-item ">
                                                <img src="images/putin.jpg " class="img-fluid " alt=" ">
                                                <span class="item-viewed "><i class="fa fa-eye " aria-hidden="true "></i>116</span>
                                                <div class="card-overlay card-img-overlay ">
                                                    <h4 class=" title-sidebar ">XXXXXXXXXX</h4>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="# " class="inner-item ">
                                                <img src="images/putin.jpg " class="img-fluid " alt=" ">
                                                <span class="item-viewed "><i class="fa fa-eye " aria-hidden="true "></i>116</span>
                                                <div class="card-overlay card-img-overlay ">
                                                    <h4 class=" title-sidebar ">XXXXXXXXXX</h4>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="# " class="inner-item ">
                                                <img src="images/putin.jpg " class="img-fluid " alt=" ">
                                                <span class="item-viewed "><i class="fa fa-eye " aria-hidden="true "></i>116</span>
                                                <div class="card-overlay card-img-overlay ">
                                                    <h4 class=" title-sidebar ">XXXXXXXXXX</h4>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="# " class="inner-item ">
                                                <img src="images/putin.jpg " class="img-fluid " alt=" ">
                                                <span class="item-viewed "><i class="fa fa-eye " aria-hidden="true "></i>116</span>
                                                <div class="card-overlay card-img-overlay ">
                                                    <h4 class=" title-sidebar ">XXXXXXXXXX</h4>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="# " class="inner-item ">
                                                <img src="images/putin.jpg " class="img-fluid " alt=" ">
                                                <span class="item-viewed "><i class="fa fa-eye " aria-hidden="true "></i>116</span>
                                                <div class="card-overlay card-img-overlay ">
                                                    <h4 class=" title-sidebar ">XXXXXXXXXX</h4>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="# " class="inner-item ">
                                                <img src="images/putin.jpg " class="img-fluid " alt=" ">
                                                <span class="item-viewed "><i class="fa fa-eye " aria-hidden="true "></i>116</span>
                                                <div class="card-overlay card-img-overlay ">
                                                    <h4 class=" title-sidebar ">XXXXXXXXXX</h4>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="# " class="inner-item ">
                                                <img src="images/putin.jpg " class="img-fluid " alt=" ">
                                                <span class="item-viewed "><i class="fa fa-eye " aria-hidden="true "></i>116</span>
                                                <div class="card-overlay card-img-overlay ">
                                                    <h4 class=" title-sidebar ">XXXXXXXXXX</h4>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="# " class="inner-item ">
                                                <img src="images/putin.jpg " class="img-fluid " alt=" ">
                                                <span class="item-viewed "><i class="fa fa-eye " aria-hidden="true "></i>116</span>
                                                <div class="card-overlay card-img-overlay ">
                                                    <h4 class=" title-sidebar ">XXXXXXXXXX</h4>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="# " class="inner-item ">
                                                <img src="images/putin.jpg " class="img-fluid " alt=" ">
                                                <span class="item-viewed "><i class="fa fa-eye " aria-hidden="true "></i>116</span>
                                                <div class="card-overlay card-img-overlay ">
                                                    <h4 class=" title-sidebar ">XXXXXXXXXX</h4>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="body-footer ">
                        <p class="tittle-footer ">COPYTIGHT@2020 GLOCAL ALL RIGHT RESERVED</p>
                        <a href="# " class="privacy ">XXXXXXXXX</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="js/jquery-3.4.1.min.js " defer></script>
    <script src="js/bootstrap.min.js " defer></script>
    <script src="js/swiper-bundle.min.js " defer></script>
    <script src="js/hong.js " defer></script>
    <script src="js/swiper.js " defer></script>